# Python
__pycache__/
*.py[cod]
*.so
.pdm.toml
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/

# Data
workspace/data/
workspace/archive/
*.index
*.pkl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Model checkpoints
*.pt
*.pth
*.safetensors

# Jupyter
*.ipynb_checkpoints/

# IDE
.idea/
.vscode/
